$color-blue: #0d3393;
$color-b400-liberty: #00164E;
$color-black: #000000;
$color-white: #FFFFFF;
$color-green: #8bc462;
$color-liberty-opacity: rgba(0, 22, 78, 0.9);
$color-aqua-marine: #4ac8c8;
$color-gunmetal: #424757;
$color-liberty-opacity-dropdown: rgba(0, 22, 78, 1);
$color-pale-grey: #efeff1;
$color-bluey-grey: #8b92a7;
$color-blue-grey: #9B9B9B;
$color-cloudy-blue: #a6cbdb;
$color-section-divider: #dadada;
$color-dusty-red: #d72b3f;
$color-dynamic-orange: #e46c0c;
$color-b300-napoleon: #002b99;
$color-light-periwinkle: #ccdaff;
$color-t300-rick-sanchez: #4ac8c8;
$color-carolina-blue: #87a8fb;
$color-light-blue-grey: #c5c8d3;
$color-soft-blue: #4378FD;
$color-darkish-blue: #001c64;
$color-light-grey: #e0e0e0;
$color-e300-jewelpie: #ffab00;
$color-p300-barney: #803cb2;
$color-seaweed-green: #36b37e;
$color-valyrian-steel: #424757;
$color-John-snow: #f9fafb;
$mystiques-darkish: #a6cbdc;
$color-l300-peyote: #a8db70;
$color-b300-kenny: #ff6c35;
$color-r300-sansa-stark: #d72b3f;
$color-g300-the-riddler: #36b37e;
$color-soft-blue: #5581ef;
$color-dack-blue: #0d3393;
$color-default-field: #7C848B;
$color-invalid-field: #ff0000;
$color-valid-field: #28a745;
$color-mine-shaft: #323232;
$color-black-russian: #0d1325;
$color-athens-gray: #f0f1f4;
$color-orange-yellow: #FFA500;
$color-light-soft-blue: #4378FD;
$color-light-orange: #FFD530;
$color-light-green: #ADD581;
$color-alizarin-crimson: #E6243A;
$color-cerulean-blue: #214EBF;
$color-hippie-green: #67904B;
$color-eminence: #602889;
$color-smalt-blue: #547A91;
$color-maroon: #7A0200;
$color-half-baked: #74BECC;
$color-dixie: #DC8E18;
$text-green: #309F52;
$text-maroon: #C22033;
$text-brown: #8F1838;
$text-orange-gold: #F36E24;
$text-yellow-gold: #CD8B2A;
$text-hotpink: #E01B83;
$text-darkgreen: #437541;

/*Special Funeral Calculator*/
$text-medium-grey: #333;
$text-light-grey: #888;
$light-shade-gray: #fafafa;
$color-chinise-silver: #cccccc;
$color-light-blue: #c4e4eb;
$color-dark-cyan: #006f8a;
$color-shade-green: #44cc66;
$color-midnight-blue: #00164e;