$font-stack-primary: Noto Sans; // Primary font is NotoSans.

$font-size-body: 14px;
$font-navbar-nav-li-size: 16px;
$font-footer-disclaimer-Size: 14px;
// Font-Size
$base-font-size: 1em;
// Line-Height
$base-line-height: 1.5;
$header-line-height: 1.25;
$title-line-height: 1.29;
